body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 30px 0;
}
.canvas {
    width: 600px;
    max-height: 600px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    padding: 0 15px 0;
    justify-content: center;
}


.row > * {
    padding: 1px 4px;
    margin: 10px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    margin: 0;
}