body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', cursive;
    background: #eee;
    margin: 0 0 30px 0;
}
.canvas {
    width: 500px;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    margin-bottom: 30px;
    padding: 15px;
}


.row > * {
    padding: 10px;
    margin: 10px;
}